body {
	background: radial-gradient(#666, #222);
	min-height: 1200px;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  word-wrap: normal;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  &:active,
  &:focus {
    position: static;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}