/* ---------- back to top starts ---------- */
.backtotop {
  display:none;
  position: fixed;
  bottom:40px;
  right:20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid orangered;
  background-position: top center;
  background-repeat: repeat;
  background-size: 100% 200%;
  transition: all 0.5s ease-in-out;
  z-index:999;
  svg { 
    transition: all 0.5s ease-in-out; 
  }
  svg polygon {
    fill:#fff;
    transition: all 0.5s ease-in-out;
  }
  &:hover { 
    background-position: bottom center;
    svg { 
      transform: scale(1.6);
    }
    
  }
}

@media all and (max-width: 767) {
  .backtotop {
    display:none;
  }
}
/* ---------- back to top ends ---------- */